@import url('https://fonts.googleapis.com/css?family=Domine|Dosis&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body {
	font-family: 'Domine', serif;;
	font-size: 18px;
	margin: 0px;
	background-color: rgba(234, 220, 205, 1);
}

h1, h2, h3 {
	font-family: 'Dosis', sans-serif;
	font-weight: 800;

}

a {
	text-decoration: none;
}
